# Drizzle
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"
POSTGRES_PASSWORD=

ORIGIN=""

# SvelteKit adapter-node body size limit (default 512kb)
BODY_SIZE_LIMIT=100M

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
